name: Build & Publish NuGet

on:
  push:
    branches: master
    tags: '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.x  # use the latest SDK; multi-target builds are supported

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release

    - name: Test
      run: dotnet test --no-build --configuration Release

  pack:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push'
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.x

    - name: Determine version
      id: get_version
      run: echo "VERSION=$(git describe --tags --dirty | cut -c2-)" >> $GITHUB_ENV

    - name: Pack NuGet package
      run: dotnet pack --output ./artifacts --configuration Release -p:Version=$VERSION

    - uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: ./artifacts

  publish:
    runs-on: ubuntu-latest
    needs: pack
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.x

    - uses: actions/download-artifact@v4
      with:
        name: artifacts
        path: ./artifacts

    - name: Publish packages to NuGet
      run: dotnet nuget push ./artifacts/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{secrets.NUGET_TOKEN}}
